.board {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 400px;

  .board-row {
    display: flex;
    gap: 0.75rem;
  }

  &.blocked {
    pointer-events: none; 

    .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: var(--neutral-90); 
      opacity: 0.85;
      color: #fff;
      padding: 1rem 2rem;
      border-radius: 0.5rem;
      font-size: 1.25rem;
      font-weight: bold;
      text-align: center;
      z-index: 10;
    }
  }
}
