.cell {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral-30);
  font-size: 2rem;
  transition: background 0.2s;
  border-radius: 16px;
  font-weight: 700;

  &.clickable {
    cursor: pointer;

    &:hover {
      background: #f0f0f0;
    }
  }

  &.filled {
    cursor: default;
  }

  &.x-cell {
    color: var(--primary-color);

    &.highlight {
      color: var(--white);
      background: var(--primary-color);
    }
  }

  &.o-cell {
    color: var(--green);

    &.highlight {
      color: var(--white);
      background: var(--green);
    }
  }
}
